* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #41e1ba;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background: #EF5D50;
}
.hidden {
  display: none;
}

.pomodoro {
  background-color: white;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2 -2px 0 rgb(200,200,200,.6);
}

.pomodoro h2 {
  font-size:  24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}

.pomodoro button {
  background-color: rgb(49, 49, 49);
  font-size: 16pt;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
  box-shadow: -2px 2px 0 lightseagreen;
}
.pomodoro button:hover {
  cursor: pointer;
  filter: brightness(70%);
}
.working .pomodoro button {
  box-shadow: -2px 2px 0 lightsalmon;
}

.pomodoro .details {
  margin:  20px 0;
}